<.header>
  <%= @task.title %>
  <:actions>
    <%= if @task.author_id == @conn.assigns.current_user.id do %>
      <.link href={~p"/tasks/#{@task}/edit"}>
        <.button>Edit task</.button>
      </.link>
    <% end %>
  </:actions>
</.header>

<section>
  <span><%= @task.description %></span>
</section>

<.back navigate={~p"/tasks"}>Back to tasks</.back>
